<head>
	<title>
			App Gateway
	</title>
	<style>
			#outer_space{
					width:100%; 	
					height: 95%;	
					margin: 1em auto 1.5em auto;
					border: 2px outset black;
			}
			#top{
					height: 5%;
					border: 2px outset lightblue;
			}
			#title{
			}
			#icon{
			}
			#bottom{
					height: 95%;
					border: 2px outset lightblue;
			}
			#input_area{
					width:20%; 	
					height: 15%;	
					margin: 1em auto 1.5em auto;
					border: 2px outset lightblue;
			}
	</style>
</head>


<body>
    <div id='outer_space'>
        <div id='top'>
						<div id='title'>
							<%= @title %>
						</div>
						<div id='icon'>
							<%= @icon %>
						</div>
				</div>
				<div id='bottom'>
						<div id='input_area'>
						</div>
				</div>
    </div>
</body>


