<!--head>
	<title>
			App Gateway
	</title>
	<style>
			#outer_space{
					width:100%; 	
					height: 95%;	
					margin: 1em auto 1.5em auto;
					border: 2px outset black;
			}
			#top{
					height: 20%;
					border: 2px outset lightblue;
			}
			#title{
					border: 2px;
					margin: 1em auto 1.5em auto;
					font-size: 2.5em;
					color: lightblue;
			}
			#icon{
			}
			#text{
				font-size: 1.5em;			
			}
			#middle{
					height: 70%;
					border: 2px outset lightblue;
			}
			#bottom{
					height:10%
								
			}
			#input_area{
					width:50%; 	
					height: 25%;	
					top: 20%;
 					-webkit-border-radius: 5px;
          			border-radius: 5px;
					margin: 1em auto 1.5em auto;
					border: 2px outset lightblue;
			}
			.logo {
		    float:left;
		    height: 4.5em;
		  }
		.buttons{
			    border:1px solid #34740e; 
                 -webkit-border-radius: 3px; 
                 -moz-border-radius: 3px;
                 border-radius: 3px;
                 font-size:28px;
                 font-family:arial, helvetica, sans-serif; 
                 padding: 10px 10px 10px 10px; 
                 text-decoration:none; 
                 display:inline-block;
                 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
                 font-weight:bold; color: #FFFFFF;
                 background-color: #4ba614; 
                 background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
                 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
                 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
                 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
                 background-image: -o-linear-gradient(top, #4ba614, #008c00);
                 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
		}
		#btn_finish{
		}
		#btn_cancel{
		}
		input {
			height: 89%;
			width: 100%;
			border-color: lightblue;
			font-size: 25;	
			-webkit-border-radius: 5px;
          	border-radius: 5px;	
		}
	</style>
	<script>
		function gatewayCancel(){
			window.location = '/home';
		}

		function validateInput(){
			var failed = false;
			inputs =  document.getElementsByClassName("inputs")
			for (i = 0; i < inputs.length; i++){
                if (inputs[i].value.length < 1)	{
					failed = true;
				}		
			}
			if (failed == false){
				gatewaySubmit()
			}
			else {
				return
			}
		}

		function gatewaySubmit(){
			
			var form = document.createElement('form');
            form.action = '/admin/dologin';
			form.method = 'post'
            form.id = 'frm';
			
			inputs =  document.getElementsByClassName("inputs")
			for (i = 0; i < inputs.length; i++){
                form.appendChild(inputs[i]);			
			}
			document.body.appendChild(form)
			document.getElementById('frm').submit();
		}

	</script>
</head-->

<style>

  body {
    color: #3465a4;
    font-size: 24px;
  }

  .empty {
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 180px;
    height: 150px;
    float: left;
    margin: 10px;
  }
       
  button {
      font-size: 1em;
      padding: 15px;
      min-width: 120px;
      cursor: pointer;
      min-height: 75px;
      border-radius: 10px !important;
      margin: 3px;
  }
    
  .button {
    border: 1px solid #3465a4;
    border-radius: 15px;
    width: 180px;
    height: 150px;
    float: left;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle; 
    text-align: center;
  }

  .button:hover {
    background-color: #c2d3f4;
    color: #0e2a64;
    text-decoration: underline;
  }

  .button:active {
    background-color: #f3e7c0;
  }

  .button_blue{
       border:1px solid #7eb9d0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
       background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
       background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
       background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
       background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
       background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
       background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
  }

  .button_blue:hover{
       border:1px solid #5ca6c4;
       background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
       background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
       background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
       background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
       background-image: -o-linear-gradient(top, #82bbd1, #193b61);
       background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
  }

  .button_green{
       border:1px solid #34740e; 
       -webkit-border-radius: 3px; 
       -moz-border-radius: 3px;
       border-radius: 3px;
       font-size:28px;
       font-family:arial, helvetica, sans-serif; 
       padding: 10px 10px 10px 10px; 
       text-decoration:none; 
       display:inline-block;
       text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
       font-weight:bold; color: #FFFFFF;
       background-color: #4ba614; 
       background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
       background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
       background-image: -moz-linear-gradient(top, #4ba614, #008c00);
       background-image: -ms-linear-gradient(top, #4ba614, #008c00);
       background-image: -o-linear-gradient(top, #4ba614, #008c00);
       background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
  }

  .button_green:hover{
       border:1px solid #224b09;
       background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
       background-image: -webkit-linear-gradient(top, #36780f, #005900);
       background-image: -moz-linear-gradient(top, #36780f, #005900);
       background-image: -ms-linear-gradient(top, #36780f, #005900);
       background-image: -o-linear-gradient(top, #36780f, #005900);
       background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
  }

  .button_red{
       border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
       background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
       background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
       background-image: -moz-linear-gradient(top, #a90329, #6d0019);
       background-image: -ms-linear-gradient(top, #a90329, #6d0019);
       background-image: -o-linear-gradient(top, #a90329, #6d0019);
       background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
  }

  .button_red:hover{
       border:1px solid #450111;
       background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
       background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
       background-image: -moz-linear-gradient(top, #77021d, #3a000d);
       background-image: -ms-linear-gradient(top, #77021d, #3a000d);
       background-image: -o-linear-gradient(top, #77021d, #3a000d);
       background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
  }

  .button_gray{
       border:1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
       background-color: #ccc; background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
       background-image: -webkit-linear-gradient(top, #ccc, #999);
       background-image: -moz-linear-gradient(top, #ccc, #999);
       background-image: -ms-linear-gradient(top, #ccc, #999);
       background-image: -o-linear-gradient(top, #ccc, #999);
       background-image: linear-gradient(to bottom, #ccc, #999);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc, endColorstr=#999);
  }

  .button_gray:hover{
       border:1px solid #ccc;
       background-color: #ddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
       background-image: -webkit-linear-gradient(top, #333, #ccc);
       background-image: -moz-linear-gradient(top, #333, #ccc);
       background-image: -ms-linear-gradient(top, #333, #ccc);
       background-image: -o-linear-gradient(top, #333, #ccc);
       background-image: linear-gradient(to bottom, #333, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#333, endColorstr=#ccc);
  }
  
  .input_cell {
    font-size: 1.2em; 
    padding: 10px; 
    border: 1px solid #3465a4;
    border-radius: 10px;
    width: 100%;
  }
    
  .error_text {
    color: red !important;
  }  
    
  .error_input {
    font-size: 1.2em; 
    padding: 10px; 
    border-radius: 10px;
    width: 100%;
    border: 2px red solid;
  }  
    
</style>

<div style="width: 100%; height: 100%; border: none;">

  <div class="table" style="width: 100%; height: 100%; border: none;">
  
    <div class="row">
    
      <div class="cell" style="height: 100px; border-bottom: 1px solid #3465a4; vertical-align: middle;">
        
        <div class="table" style="float: right">
          <div class="row">
            <div id="pageTitle" class="cell" style="font-size: 42px; color: #3465a4; text-align: right; vertical-align: middle; padding-right: 20px;">
              Administration: Login
            </div>
            <div class="cell" style="font-size: 42px; color: #3465a4; text-align: right; vertical-align: middle; padding-right: 20px;">
              <img id="pageIcon" src="/images/settings.png" alt="G.O.M" height="70" />
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
  
    <div class="row">
    
      <div id="content" class="cell" style="">
          
        <% form_tag("/admin/login", :method => :post, :autocomplete => :off) do %> 
                 
          <div style="margin: auto; margin-top: 60px; border: 1px solid #000; width: 500px; padding: 40px; border: 1px solid #3465a4; border-radius: 20px;">        
						  <div class="table" style="border-spacing: 20px;">						
							    <div class="row">
							      <div id="lblusername" class="cell" style="color: black;">
								        Username
								    </div>
							      <div class="cell">
								        <input class='input_cell' type='text' name='username' id="username" onmousedown="showKeyboard(this);">
								    </div>
							    </div>							
							    <div class="row">
						        <div id="lblpassword" class="cell" style="color: black;">
								        Password
								    </div>
								    <div class="cell">
								        <input class='input_cell' type='password' name='password' id="password" onmousedown="showKeyboard(this);">
								    </div>
							    </div>							
						  </div>						
				  </div>
					
				<% end %>
					
			</div>  
				
    </div>
  
    <div class="row">
    
      <div class="cell" style="height: 100px; border-top: 1px solid #3465a4; vertical-align: middle;">
        
        <button class='button_red' style="float: left; margin-left: 15px;">Cancel</button>
					
				<button class='button_green' style="float: right; margin-right: 15px;" onclick="validateForm()">Login</button>
        
      </div>
    
    </div>
  
  </div>

</div>

<script>
<!--

  function __$(id){
    return document.getElementById(id);
  }

  function validateForm(){
    
    if(__$("username").value.trim().length == 0){
      __$("username").className = "error_input";
      
      if(__$("lblusername")){
        __$("lblusername").className = "cell error_text";
      }
      
      return;
    } else {
      __$("username").className = "input_cell";
      
      if(__$("lblusername")){
        __$("lblusername").className = "cell";
      }      
    }
    
    if(__$("password").value.trim().length == 0){
      __$("password").className = "error_input";
      
      if(__$("lblpassword")){
        __$("lblpassword").className = "cell error_text";
      }
      
      return;
    } else {
      __$("password").className = "input_cell";
      
      if(__$("lblpassword")){
        __$("lblpassword").className = "cell";
      }      
    }
    
    document.forms[0].submit();
  }

//-->

</script>

